ul {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}

/*-----------------------------------------------------------------app.js*/

.logo{
  margin-top: 20px;
}

/*-----------------------------------------------------------------search.js*/

.input-group {
  margin: 20px 0px;
}

td, th {
  vertical-align: middle !important;
  text-align: center !important;
}

td:first-of-type {
  height: 200px;
  width: 250px;
}

/*-----------------------------------------------------------------forecast.js*/

.divForecast {
  display: flex;
}

.divForecast ul {
  margin: auto;
}

.divForecast ul li {
  border-bottom: 1px solid #000;
}
